/*The below code allows us to connect with Google Fonts. Amarante has been selected for our main font. Roboto for fallback.*/
@import url('https://fonts.googleapis.com/css2?family=Amarante|Roboto&display=swap:100,200,300,400,500,600,700');

/* -- All Pages -- */

/*I've added min-height, display flex, flex direction and flex 1 to push my footer to the bottom of the screen */
body {
    background-color: #800080;
    text-align: center;
    font-family: Amarante, Roboto;
    color: #CA9E65;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* -- Home Page -- */

.home-text {
    text-align: center;
    font-size: 1.8vh;
}

.btn {
  font-size: 2.75vh;
  color: #800080;
  background-color: #CA9E65;
  border-radius: 2rem;
}

/* -- Footer -- */

.footer {
    font-size: 1.5vh;
}