/*The below code allows us to connect with Google Fonts. Amarante has been selected for our main font. Roboto for fallback.*/
@import url('https://fonts.googleapis.com/css2?family=Amarante|Roboto&display=swap:100,200,300,400,500,600,700');

/* -- All Pages -- */

/*I've added min-height, display flex, flex direction and flex 1 to push my footer to the bottom of the screen */
body,html {
    background-color: #800080;
    text-align: center;
    font-family: Amarante, Roboto;
    color: #CA9E65;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1;
}

/* -- Home Page -- */

.home-logo {
    animation-name: logo-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes logo-zoom {
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1.0);
    }
}

.home-text {
    text-align: center;
    font-size: 1.8vh;
}

.btn {
  font-size: 2.75vh;
  color: #800080;
  background-color: #CA9E65;
  border-radius: 2rem;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.35rem 1.35rem 0 rgba(203, 158, 101, 0.8);
    color: #800080;
}

/* -- Questions -- */

.page-logo {
    float: left;
}

.question-container {
    font-size: 2.75vh;
    color: #800080;
    background-color: #CA9E65;
    border-radius: 2rem;
}

.question-container:hover {
    cursor: pointer;
    box-shadow: 0 0.35rem 1.35rem 0 rgba(203, 158, 101, 0.8);
}

#quiz-question {
    margin-bottom: 2rem;
}

.answer-text {
    width: 100%;
}

.correct {
    background-color: #037403;
    color: #FFFFFF;
}

.incorrect {
    background-color: #B61E1E;
    color: #FFFFFF;
}

.detail-feature-1 {
    float: left;
}

.detail-feature-2 {
    float: right;
}

#progression-bar {
    width: 100%;
    height: 1.6rem;
    border: 0.2rem solid #CA9E65;
    border-radius: 2rem;
}

#progression {
    width: 0%;
    height: 1.2rem;
    background-color: #CA9E65;
    border-radius: 2rem;
}
/* -- Footer -- */

.footer {
    font-size: 1.5vh;
}